*{
    margin: 0;
    padding: 0;
}
body
{
    overflow: hidden;
    animation: bodyshake linear 6s infinite;
}
.sky
{
    height: 200vh;
    width: 2000vw;
    top: -40px;
    background-image: url(background.jpg);
    background-repeat: repeat-x;
    position: absolute;
    animation: skymove linear 8s infinite; 
}
.bg
{
    height: 100vh;
    width: 100%;
    position: absolute;
}
.trees
{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    bottom: 30vh;
}
.track
{ 
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x; 
    position: absolute;
    top: 70vh;
    animation: trackmove linear .13s infinite;
}
.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 300px;
    bottom:24vh;
    animation: shake linear .3s infinite;
}
.wheel1 img
{
    width: 67px;
    position: relative;
    top: 43px;
    left: 48px;
    animation: wheelRotation linear .16s infinite;

}
.wheel2 img
{
    width: 74px;
    position: relative;
    top: -30px;
    left: 236px;
    animation: wheelRotation linear .16s infinite;
}
@keyframes wheelRotation
{
    100%
    {
        transform: rotate(360deg);
    }
}
@keyframes trackmove
{
    100%
    {
        transform: translate(-500vh);
    }
}

@keyframes shake
{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes bodyshake
{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
}
@keyframes skymove
{
    100%
    {
        transform: translate(-500vh);
    }
}